POSTGRES_PASSWORD=changeme
DATABASE_URL=postgresql://postgres:changeme@postgres:5432/crypto
JWT_SECRET=changeme
NBXPLORER_POSTGRES=Host=postgres;Port=5432;Database=nbxplorer;Username=postgres;Password=changeme
